mat-card{
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    margin-top: 20px;
}
.lista{
    margin-left: auto;
    margin-right: auto;    
    margin-top: 20px;
    width: max-content;
}

.selection-item {
    position: fixed;
    margin-top: -100px;
    width: 300px;
    margin-left: 5%;   
}

.galeria-item {
    position: fixed;
    margin-left: 70%;
    margin-top: -130px;
    width: 200px;
    
}